/*#region Open*/

.give-open {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $color-green;
}

.give-col--left {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: none;
}

.give-col--right {
  margin: 0 0.4rem;
}

.give-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  text-align: center;
}
.give-title {
  font-weight: 400;
  font-size: 2.5rem;
}

.give-decoration {
  margin: 1rem 0;
}

.give-subtitle {
  font-weight: 300;
  font-size: 2.5rem;
}

.give-steps {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
}

.give-step {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 8rem;
  height: 8rem;
  font-size: 1.2rem;
  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 8rem;
    height: 8rem;
    border: 1px solid $color-green;
    transform: rotate(45deg);
  }
}
/*#endregion */
@include desktop {
  .give-open {
    height: 100vh;
    flex-direction: row;
  }
  .give-col--left {
    display: block;
    width: 50%;
    height: 100%;
  }
  .give-col--right {
    width: 50%;
    margin-right: 10vh;
  }
}
