.open{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    font-family: $font-alt;
}

.open-left{
    width: 100%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.open-right{
    width: 100%;
    height: 50%;
}
.open-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 0.4rem;
}
.content-title{
    font-size: 1.4rem;
    margin: 0.2rem;
    text-align: center;
    color:$color-green;
    font-weight: 400;
}

.content-decoration{
    margin: 1rem 0;
}

.content-btns{
    display: flex;
    gap:1rem;
}
.content-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 300;
    border:1px solid $color-gray;
    color:$color-gray;
}

@include desktop{
    .open{
        flex-direction: row;
    }
    .open-left{
    width: 50%;
    height: 100%;
    
}
.open-right{
    width: 50%;
    height: 100%;
    margin-right: 10vw;
}
.content-title{
    font-size: 2.2rem;
    margin: 0.5rem;
}
.content-decoration{
    margin: 3rem 0;
}
.content-btn{
  
    width: 310px;
    height: 120px;
    font-size: 2rem;
    
}
}