.who-help-container {
  margin: 0 5vw;
}

.who-help {
  color: $color-green;
  &-top {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-title {
    font-size: 2rem;
    font-weight: 400;
  }
  &-decoration {
    margin: 1rem 0;
    width: 12rem;
  }
  &-control {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 0;
  }
  &-controler {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.4rem;
    cursor: pointer;
  }
  &-description {
    text-align: center;
  }
  .active {
    border: 1px solid $color-green;
  }
  &-list {
    min-height: 265px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
    border-bottom: 1px solid $color-green;
  }
  .item-title {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
  }
  .item-stuff {
    font-weight: 400;
  }

  &-pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
  }
  .pagination-item {
    padding: 0.4rem 0.6rem;
    cursor: pointer;
  }
  .pagination-active {
    border: 1px solid $color-green;
  }
}

@include desktop {
  .who-help-container {
    margin: 0 10vw;
  }
  .who-help {
    &-description {
      width: 50%;
    }
    &-controler {
      padding: 1.2rem 2rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
    &-bottom {
      width: 70%;
      margin: 1rem auto;
    }
  }
}
