.nav-desktop{
    display: none;
}

.nav-mobile{
    position: sticky;
}
.nav-mobile-top{
display: flex;
justify-content: space-between;
padding: 0.5rem 1rem;
position: relative;
}

.nav-toggle{
    cursor: pointer;
}
.nav-mobile-links{
    display: flex;
    &-link{
        padding: 0.5rem 1rem;
        text-decoration: none;
        color:$color-gray;
    }
    &-link-border{
        border: 1px solid $color-yellow;
    }
}

.nav-mobile-bottom{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 100%;
    &-link{
        color: $color-green;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        border : 1px solid transparent;

    }
    &-link:hover{
        border : 1px solid $color-green;
    }
}

.nav-top{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 1rem;
    &-link{
        padding: 0.5rem 1rem;
        text-decoration: none;
        color:$color-gray;
    }
    &-link-border{
        border: 1px solid $color-yellow;
    }
}

.nav-bottom{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    gap:2rem;
    &-link{
        color: $color-green;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        border : 1px solid transparent;

    }
    &-link:hover{
        border : 1px solid $color-green;
    }
}


@include desktop{
.nav-desktop{
    display: block;
}
.nav-mobile{
    display: none;
}
}
