.panel {
  height: 100vh;
  color: $color-green;
  margin: 0 10vw;
}

.panel-container {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.panel-header {
  font-size: 3rem;
  font-weight: 400;
}

.panel-decoration {
  margin-top: 1rem;
}

.panel-form {
  width: 40%;
}

.panel-content {
  background-color: $color-white;
  padding: 4rem;
  margin: 2rem;

  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 1rem;
  }
  input {
    border: none;
    margin-bottom: 1rem;
    border-bottom: 1px solid $color-green;
    background-color: transparent;
    outline: none;
  }
}
.panel-danger {
  margin: 0.5rem 0;
  color: $color-red;
}
.panel-btns {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: $color-green;
    padding: 0.7rem 1rem;
  }
  button[type="submit"] {
    border: 1px solid $color-green;
    background-color: transparent;
    padding: 0.7rem 1rem;
    cursor: pointer;
  }
}
