.steps-waring {
  padding: 2rem 0;
  background-color: $color-yellow;
  div {
    margin: 0 10vh;
  }
  h4 {
    font-size: 2rem;
    margin-bottom: 0.7rem;
  }
}

.steps-container {
  min-height: 100vh;
}

.steps-content {
  margin: 0 10vw;
  padding: 1rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  h5 {
    margin-top: 1rem;
    color: $color-green;
    font-size: 1.3rem;
  }
  h3 {
    margin-top: 5rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .steps-control {
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
    margin-top: auto;
    .controler {
      margin-top: 3rem;
      padding: 1rem 2.5rem;
      border: 2px solid $color-gray;
      cursor: pointer;
    }
  }
  .select-subtitle {
    font-weight: 700;
    margin: 1rem 0;
  }
}
