@import "settings/fonts";
@import "settings/mixins";
@import "settings/colors";
@import "components/home-open";
@import "components/home-three-columnes";
@import "components/home-simple-steps";
@import "components/home-about";
@import "components/home-who-help";
@import "components/home-contact";
@import "components/nav";
@import "components/panel";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-base;
}
