@import "settings/fonts";
@import "settings/mixins";
@import "settings/colors";
@import "components/home-open";
@import "components/home-three-columnes";
@import "components/home-simple-steps";
@import "components/home-about";
@import "components/home-who-help";
@import "components/home-contact";
@import "components/nav";
@import "components/logout";
@import "components/give";
@import "components/panel";
@import "components/steps";
@import "components/step-1";
@import "components/step-2";
@import "components/step-3";
@import "components/step-4";
@import "components/step-summery";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-base;
}
